.head  {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #848484;
    outline:0;
    padding:5px;
    margin:5px;
    background-color: #3B1F02; 
    color: #ffffff;
  }

.outer_div { border: none;}

h1 { font-family: 'Lato', sans-serif; font-size: 18px; text-align: center}

.title  { font-family: 'Lato', sans-serif; font-size: 32px; text-align: center}

hr { width=50%}

#analyze_button {
    -moz-border-radius-topleft: 30px;
    -webkit-border-top-left-radius: 30px;
    border-top-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    -moz-border-radius-topright: 30px;
    -webkit-border-top-right-radius: 30px;
    border-top-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #848484;
	font-size:24px;
	font-weight:bold;
    outline:0;
    height:35px;
    width: 40%;
    padding-left:10px;
    background-color: #138891; 
/*    color: #414141; */
    color: #ffffff;
}

#sigmajs_container {
    max-width: 95%;
    height: 600px;
    margin: auto;
    border: 0px;
}

#worries_div {
    border: 0px;
}

#chart rect {
  fill: steelblue;
}

#chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

#input_div td {
    border: 1px solid black;
    overflow: hidden;
    width: 45%;
}

#analyze_div {
    padding-top: 10;
    padding-bottom: 10;
    border-bottom: solid black;
}

#attributes {
    width: 60%;
   -webkit-appearance: menulist-button;
   height: 100px;
}

.tab {
    max-width: 10pc;
    min-height: 10px;
    border: solid black;
    border-width: 1px;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 16pt;
    padding: 5px;
    display: inline-block;
    font: bold;
    margin-top: 0; 
    font-size:24px;
    font-weight:bold;
    padding-left:10px;
    background-color: #138891; 
/*    color: #414141; */
    color: #ffffff;
}

#all_actors_output_div {

}

#likely_actor_output_div {
    display:none;
}

#comparative_output_div {
    display:none;
}

#comparative_output_table {
    width: 100%;
    border: none;
}

.mitigations {
    font-size: 18px;
    width: 95%;
    height:300px;
    line-height:300px;   
}

#comparison_output td {
    text-align: right;
}

.comparison_cell {
    text-align: center;
    border: 1px solid black;
}