<html>
<title>DBIR Attack Graph Analysis</title>
<link type="text/css" rel="stylesheet" href="../static/stylesheet.css"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="./static/verisag.js"></script>
<script src="./static/sigma.min.js"></script>
<script src="./static/sigma.parsers.json.js"></script>
<script src="./static/sigma.parsers.gexf.min.js"></script>
<!--<script src="http://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="./static/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="./static/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="./static/jqplot.pointLabels.min.js"></script>
<script type="text/javascript" src="./static/jquery.canvasjs.min.js"></script>//-->
<link href="./static/nv.d3.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js" charset="utf-8"></script>
<script src="./static/nv.d3.js"></script>
<script src="./static/stream_layers.js"></script>
<script src="./static/underscore-min.js"></script>
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>


{% block content %}{% endblock %}

</html>